/*Variabler*/
$bg-color: #FCF6EA;
$nav-color: #A0B997;
$footer-color: #536A4B;
$primary-color: #A0B997;
$secondary-color: #624433;
$text-color: #000;
$snd-text-color: #536A4B;
$padding: 0.5em;
$font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
